.habitsManager {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    padding: 20px;
    border: solid 2px lightblue;
    border-radius: 10px;
    width: fit-content;
    background-color: #eefaff;
}

#newHabitType {
    padding: 12px;
    border-radius: 10px;
    border: none;
}

#newHabitName {
    border-radius: 10px;
    border: none;
    background-color: #f0f0f0;
    padding: 12px;
}

#newTracker {
    background-color: rgb(76, 1, 220);
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    padding: 12px;
    width: 102px;
    cursor: pointer;
}

#addANewHabit {
    font-weight: 600;
}

.validHabitExampleHabitManager {
    height: 25px;
    width: fit-content;
    padding: 0px 38.5px;
}

@media screen and (max-width: 720px) {
    .habitsManager {
        flex-direction: column;
        width: calc(100% - 20px);
        padding: 10px;
        gap: 10px;
    }

    #newHabitType,
    #newTracker {

        width: 100%;
    }

    #newHabitName {
        width: calc(100% - 24px);
    }
}