.stepProfileSetter {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 40vw;
}

.step4ProfileSetter {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 60vw;
}

.textProfileSetter {
    font-weight: bold;
    font-size: 28px;
    width: 100%;
    text-align: left;
}

.textInputProfileSetter {
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: calc(50%);
}

.simpleNavigatorButton {
    border: none;
    padding: 6px;
    border-radius: 10px;
    width: 100px;
}

.alignSelfEnd {
    align-self: flex-end;
}

.navigatorProfileSetter {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.selectProfileSetter {
    padding: 12px 30px 12px 12px;
    border-radius: 10px;
    border: none;
    width: fit-content;
}

#none {
    display: none;
}

.textareaProfileSetter {
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: calc(50%);
    height: 20vh !important;
    resize: none;
}

#habitExamples {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 10%;
}

.habitType {
    color: grey;
    font-weight: lighter;
    font-size: 12px;
}

.startProfile {
    border: none;
    background-color: rgb(76, 1, 220);
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
    width: 224px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.habitExampleButton {
    border: none;
    background-color: rgb(76, 1, 220);
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.titleHabitExample {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;

}

.habitExamplesColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

#hidden {
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.6s ease, height 0.6s ease;
}

#visible {
    opacity: 1;
    height: auto;
    transition: opacity 0.6s ease, height 0.6s ease;
}

@media screen and (max-width: 1080px) {
    .stepProfileSetter,
    .step4ProfileSetter {
        width: 70%;
    }

    .textareaProfileSetter {
        width: calc(100% - 20px);
    }#habitExamples {
        flex-direction: column;
        gap: 30px;
    }
    .step4ProfileSetter {
        padding: 30px 0px;
    }

}

@media screen and (max-width: 720px) {
    .textProfileSetter{
        font-size: 24px;
    }
    .stepProfileSetter,
    .step4ProfileSetter {
        width: 86vw;
    }

    #habitExamples {
        flex-direction: column;
        gap: 30px;
    }

    .step4ProfileSetter {
        padding: 30px 0px;
    }

    .titleHabitExample {
        margin-bottom: 10px;
    }

    .startProfile {
        border: none;
        background-color: rgb(76, 1, 220);
        font-size: 16px;
        padding: 6px;
        border-radius: 10px;
        width: unset;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
}