.buttonTypeWriter {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: black;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 16px;
    padding: 0;
}

@media screen and (max-width: 1080px) {
    .buttonTypeWriter {
        font-size: 12px;
    }
}