#subscriptionManager{
    min-height: calc(80vh - 80px);
    padding: 10vh 0px;
}

.loaderAnimation {
    width: 48px;
    height: 48px;
    border: 5px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loaderAnimationMobile{
    display: none;
}
#promoP{
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
}
@media screen and (max-width: 720px) {
    #subscriptionManager{
        width: 86vw;
        padding: 5vh 0px;
        min-height: calc(90vh - 80px);

    }
    .text2{
        text-align: center;
        font-weight: bold;
    }
    .loaderAnimation {
        display: none;
    }
    .loaderAnimationMobile {
        width: 48px;
        height: 48px;
        border: 5px solid black;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }
    #promoP{
        width: calc(100% - 40px);

    }
}