#navBar {
    height: 80px;
    background-color: #449DD1;
    width: calc(70vw);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15vw;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 100;
}

.none {
    display: none;
}

.openLoginBox {
    display: flex;
}

#loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
    gap: 12px;
    z-index: 100000;
    backdrop-filter: blur(2px);
}

#loginBox1 {
    display: flex;
    flex-direction: column;
    height: 39px;
    gap: 30px;
}

#getIn {
    border: none;
    background-color: rgb(76, 1, 220);
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
    width: 224px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.inputLogin {
    padding: 6px 12px;
    border-radius: 12px;
    border: none;
    width: 160px;
}

#loginButton {
    border: none;
    width: 100%;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;

}

#bigBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logout {
    border: none;
    background-color: #f0f0f0;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
    width: 224px;
    cursor: pointer;
}

#linkLeftNavBar {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.linkNavBar {
    text-decoration: none;
    color: white;
    font-size: 20px;
    border: 2px white solid;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
}

#linkRegister {
    border: none;
    width: 100%;
    font-size: 20px;
    padding: 8px 0px;
    border-radius: 10px;
    background-color: rgb(76, 1, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
}


#withArco {
    font-family: 'UniSansBold';
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#footer {
    height: 80px;
    background-color: #449DD1;
    width: calc(70vw);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15vw;
    justify-content: space-between;
}

.rightBoxNavBar {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.leftBoxNavBar {
    flex: 1;
}

.footerText {
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 1080px) {
    #linkLeftNavBar {
        display: none;
    }

}

@media screen and (max-width: 720px) {

    #navBar {
        padding: 0px 7vw;
        width: 86vw;
        align-items: center;

    }

    #getIn, #logout {
        width: min-content;
        text-wrap: nowrap;
    }

    #withArco {
        font-size: 20px;
    }

    #footer {
        padding: 0px 7vw;
        width: 86vw;
        align-items: center;

    }

    .footerText {
        font-size: 12px;
    }

    #thirdBoxLanding {
        padding: 20px;
    }
}