#profile{
    min-height: calc(80vh - 80px);
    padding: 10vh 15vw;
    width: calc(70vw);
    display: flex;
    flex-direction: column;
    gap: 40px;
}
#title1Profile{
    font-size: 40px;
}

.profileDiv{
    display: flex;
    flex-direction: row;
    width: 20vw;
    justify-content: space-between;
}

#bigProfileDiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}