#profile {
    min-height: calc(80vh - 80px);
    padding: 10vh 15vw;
    width: calc(70vw);
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

#title1Profile {
    font-size: 40px;
    width: fit-content;
    font-weight: bold;
}

.profileDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bigProfileDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #eefaff;
    padding: 40px;
    border: 1px black solid;
    border-radius: 12px;
    min-width: 600px;
    width: 40vw;
}

.profileP {
    font-size: 24px;
}

#saveChanges {

    background-color: rgb(76, 1, 220);
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    padding: 12px;
    width: fit-content;
    align-self: flex-end;
    cursor: pointer;
}

.inputProfile {
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: calc(50%);
}

@media screen and (max-width: 1080px) {
    #profile {
        width: 86vw;
        padding: 0px;
        margin-top: 60px;
    }

    #bigProfileDiv {
        min-width: unset;
        width: calc(100% - 20px);
        padding: 20px 10px;
        gap: 24px;
    }

    .profileP {
        font-size: 16px;
    }

    .profileDiv {
        align-items: center;
    }
}