#profile {
    min-height: calc(80vh - 80px);
    padding: 10vh 15vw;
    width: calc(70%);
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

#title1Profile {
    font-size: 40px;
    width: fit-content;
    font-weight: bold;
    text-wrap: nowrap;
}

.profileDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.selectProfile {
    padding: 12px 30px 12px 12px;
    border-radius: 10px;
    border: none;
    width: calc(50% + 20px);
}

#bigProfileDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #eefaff;
    padding: 40px;
    border: 1px black solid;
    border-radius: 12px;
    min-width: 600px;
    width: 40vw;
}

.profileP {
    font-size: 24px;
    font-family: Tommy;
}

#saveChanges {

    background-color: rgb(76, 1, 220);
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    padding: 12px;
    width: fit-content;
    align-self: flex-end;
    cursor: pointer;
}

.inputProfile {
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: calc(50%);
}
.textareaProfile{
    resize: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: calc(50%);
    height: 80px;

}
@media screen and (max-width: 1080px) {
    #profile {
        width: 86vw;
        padding: 0px;
        margin: 60px 0px;
    }

    #bigProfileDiv {
        min-width: unset;
        width: calc(100% - 20px);
        padding: 20px 16px;
        gap: 24px;
    }

    .profileP {
        font-size: 16px;
    }

    .profileDiv {
        align-items: center;
    }
    .textareaProfile{
        width: calc(100% - 20px);
    }
    #profileDivGoals{
        flex-direction: column;   
        align-items: flex-start    ;
        gap: 12px;
       }
}