*{margin: 0;}
body{
    background-color: #E7F8FF;
    background-image: linear-gradient(#c9effe 1px, transparent 1px), linear-gradient(to right, #c9effe 1px, transparent 1px);
    background-size: 50px 50px;
    
}
@font-face {
    font-family: 'GoldPlayBold'; /* Name of the font */
    src: url('assets/goldplay/Goldplay-Black.ttf'); /* Path to the .ttf file */
}
@font-face {
    font-family: 'UniSansBold'; /* Name of the font */
    src: url('assets/uni-sans/Uni\ Sans\ Heavy.otf'); /* Path to the .ttf file */
}
@font-face {
    font-family: 'OpenSans'; /* Name of the font */
    src: url('assets/open-sans.regular.ttf'); /* Path to the .ttf file */
}
@font-face {
    font-family: 'Tommy'; /* Name of the font */
    src: url('assets/TommyRegular.otf'); /* Path to the .ttf file */
}
@font-face {
    font-family: 'TommyLight'; /* Name of the font */
    src: url('assets/TommyLight.otf'); /* Path to the .ttf file */
}
@font-face {
    font-family: 'TommyBold'; /* Name of the font */
    src: url('assets/TommyBold.otf'); /* Path to the .ttf file */
}