#spreadSheet {
    display: flex;
    flex-direction: row;
    max-width: calc(70vw - 26px);
    overflow-x: scroll;
    padding: 20px 0px 20px 20px;
    border: solid lightblue;
    border-radius: 20px;
}

.title {
    border-left: solid 2px black;
    border-bottom: solid 1px black;
    width: 160px;
    padding: 10.5px 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    height: 19px;
}

.habitCell {
    border-left: solid 1px black;
    border-bottom: solid 1px black;

    width: 120px;
    padding: 20px 10px;

}

.titleP {}

#trackerApp {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin: 60px 0px;
    min-height: calc(100vh - 200px);
}

#dateCell1,
#dateCell2 {
    border-top: 1px solid black;
    padding: 10px;
}

.moyenne {
    width: 120px;
    padding: 10.5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid 2px black;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    height: 19px;
    background: white;
}

#averagesColumn {
    position: sticky;
    right: 20px;
}


#habitsColumn {
    position: sticky;
    right: 163px;
    background-color: white;
}

#overlayTextCellEditor {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: calc(50vh - 30px);
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(3px);
    padding: 30px;
}

.textAreaCell {
    resize: none;

    font-family: sans-serif;
    border-radius: 6px;
    border: none;
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.textCellEditor {
    background-color: #e3e3e3;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    z-index: 100000;
    height: 30vh;
    width: 40vw;
}

#firstLineCellEditor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

#titleCellEditor {
    background-color: white;
    padding: 6px;
    border-radius: 10px;
}

#closeCellEditor {
    border: none;
    background-color: transparent;
    width: 40px;
    height: 36px;
    cursor: pointer;
}

#closeImg {
    width: 100%;
    height: 100%;
}

.overlayBig {
    width: 100vw;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
}

#hidder {
    padding: 10px;
    position: sticky;
    right: 0px;
    background: #E7F8FF;
}

#appWaiter {
    min-height: calc(100vh - 80px);
}

#overlayMenu {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
}

@media screen and (max-width: 720px) {
    #trackerApp {
        margin: 30px 0px;
        min-height: calc(100vh - 140px);
        gap: 20px;
    }

    #spreadSheet {
        max-width: 86vw;

    }

    .title,
    #dateCell2 {
        width: 50px;
        font-size: 10px;
        padding: 10.5px 3px;
    }

    .moyenne,
    #dateCell1 {
        width: 40px;
        font-size: 10px;
        padding: 10.5px 3px;
    }

    #habitsColumn {
        right: 59px;
    }

    /*#spreadSheet {
        padding: 10px 0px 10px 10px;
    }*/

    #hidder {
        padding: 5px;
    }

    #averagesColumn {
        right: 10px;
    }

    .dateCell {
        width: 40px;
        font-size: 10px;
        padding: 10px 3px;
    }

    .habitCell {
        width: 26px;
    }

    #dateCell2,
    #dateCell1 {

        padding: 10px 3px;
    }

    #overlayTextCellEditor {
        width: calc(80vw - 20px);
        padding: 10px;
    }

    .textCellEditor {
        width: unset;
    }

    #closeCellEditor {
        width: 20px;
        height: 20px;
        padding: 0px;
    }
}