#landing {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blackDot{
    height: 10px;
}
#firstBoxLanding {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 0px 0px;
    align-items: center;
    height: calc(100vh - 80px);
    justify-content: space-between;
    width: 100%;
}

#screenshot1 {
    width: 30vw;
}


#secondBoxLanding {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 100px;
    margin-bottom: 120px;
}

#box2Texts {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 40px;
}

.text1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: TommyBold;
    width: fit-content;
}

.box2TextP {
    font-size: 30px;
    font-family: Tommy;
    text-wrap: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#whoMadeItP {
    font-size: 24px;
    text-align: justify;
}

#titleBox {
    display: flex;
    flex-direction: column;
}

#title1 {
    font-size: 100px;
    font-weight: bold;
    font-family: 'UniSansBold';
}

#title2 {
    font-size: 100px;
    font-weight: bold;
    font-family: 'UniSansBold';
    align-self: center;
}

#title3 {
    font-size: 100px;
    font-weight: bold;
    font-family: 'UniSansBold';
    align-self: flex-end;

}

#legend1 {
    width: fit-content;
    font-family: TommyLight;
    text-align: center;
}

#screenshot1Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.validImg {
    height: 30px;
}

.box2TextsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.getStarted {
    padding: 20px;
    font-size: 20px;
    background-color: rgb(0, 167, 0);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-family: TommyBold;
    text-align: center;
    border: none;
    cursor: pointer;
}

#thirdBoxLanding {
    display: flex;
    flex-direction: column;
    margin: 120px 0px;
    padding: 60px;
    background-color: #449DD1;
    color: white;
    gap: 40px;
    border-radius: 10px;
    align-items: center;
    margin-top: 120px;
}


#poweredByAI {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(90deg, rgba(186, 148, 62, 1) 0%, rgba(236, 172, 32, 1) 20%, rgba(186, 148, 62, 1) 39%, rgba(249, 244, 180, 1) 50%, rgba(186, 148, 62, 1) 60%, rgba(236, 172, 32, 1) 80%, rgba(186, 148, 62, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 6s infinite;
    background-size: 200%;
    background-position: left;
    text-align: left;

}

@keyframes shine {
    to {
        background-position: right
    }

}

#pricingBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

#offersBox {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.offerDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
    border: 1px black solid;
    border-radius: 12px;
    flex: 1 1;
    width: 300px;
    background-color: #eefaff;
}

#pricing {}

#toStartP {
    font-size: 50px;
    font-family: Tommy;
}

.offerDivP1 {
    font-size: 26px;
    font-weight: bold;
}

.offerDivP2 {
    font-size: 20px;
}

.offerDivP3 {
    font-size: 16px;
}

#offersBoxMobile {
    display: none;
}

#boxArcoLanding {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

#arcoImgDiv {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#arcoImg {
    width: 100%;
}

#arcoText {
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 16px;
    background-color: #eefaff;

}

@media screen and (max-width: 1080px) {
    .validImg {
        display: none;
    }

    #arcoImgDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 60px;
    }

    .box2TextP {
        text-wrap: wrap;
        display: unset;
        font-size: 20px;
    }

    #poweredByAI {
        font-size: 20px;

    }

    #box2Texts {
        width: 80vw;
    }

    #secondBoxLanding {
        margin-bottom: 0px;
    }

    #thirdBoxLanding{
        padding: 30px;
    }

    #boxArcoLanding {
        flex-direction: column;
        gap: 60px;
    }

    #arcoImg {
        width: 40vw;
        margin-top: 60px;
    }

    #firstBoxLanding {
        flex-direction: column;
        min-height: calc(100vh - 260px);
        padding-top: 60px;
        padding-bottom: 60px;
        gap: 60px;
        height: unset;
    }

    #offersBox {
        display: none;
    }

    #offersBoxMobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        align-items: center;
    }

    #selectorOffersMobile {
        display: flex;
        flex-direction: row;
        padding: 10px;
        background-color: #eefaff;
        border: 1px black solid;
        border-radius: 12px;
        justify-content: space-between;
        gap: 20px;
        width: calc(100% - 22px);
    }

    .selectorOffersMobileInactive {
        flex: 1;
        font-size: 24px;
        padding: 10px;
        border: none;
        flex: 1 1 0%;
        /* This is key for equal width */
        min-width: 0;
        /* Allow shrinking below content size */
        white-space: nowrap;
        /* Prevent text wrapping */
        overflow: hidden;
        /* Hide overflowing content */
        text-overflow: ellipsis;
        /* Show ellipsis for overflowing text */
        border-radius: 20px;
        background-color: transparent;
        border: solid 1px grey;

    }

    .selectorOffersMobileActive {
        flex: 1;

        width: 30%;
        font-size: 24px;
        padding: 10px;
        font-weight: bold;
        border: none;
        flex: 1 1 0%;
        /* This is key for equal width */
        min-width: 0;
        /* Allow shrinking below content size */
        white-space: nowrap;
        /* Prevent text wrapping */
        overflow: hidden;
        /* Hide overflowing content */
        text-overflow: ellipsis;
        /* Show ellipsis for overflowing text */
        border-radius: 20px;
        background-color: #449DD1;
        color: white;
    }

    #screenshot1 {
        width: 70vw;
    }
}

@media screen and (max-width: 720px) {


    #landing {
        width: 86vw;
    }

    #title1 {
        font-size: 50px;
    }

    #firstBoxLanding {
        justify-content: unset;
        padding-bottom: 120px;
    }

    .text1 {
        font-size: 34px;
    }

    #secondBoxLanding {
        margin-top: 0px;
        gap: 80px;
    }

    .box2TextP {
        font-size: 16px;
    }

    #poweredByAI {
        font-size: 16px;

    }

    #pricing {
        margin-bottom: 0px;
    }

    #toStartP {
        font-size: 30px;
    }

    #pricingBox {
        width: 100%;
    }

    .offerDiv {
        width: calc(100% - 20px);
        padding: 10px;
    }

    #whoMadeItP {
        font-size: 14px;
    }

    .selectorOffersMobileActive,
    .selectorOffersMobileInactive {
        font-size: 14px;
    }

    #selectorOffersMobile {
        gap: 4px;
    }

    #thirdBoxLanding {
        padding: 16px;
    }
}