.green {
    background-color: lightgreen;

}

.red {
    background-color: red;
}


.none {
    display: none;
}



.absolute {
    position: absolute;

}



.textCellDisplay {
    overflow-x: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.cellText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px !important;
    height: 20px;
}



@media screen and (max-width: 720px) {
    .cellText{
        font-size: 14px;
    }
}