#contextMenu {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 6px;
    background-color: lightgray;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    width: 300px;
}

#deleteColumnButton {
    border: none;
    padding: 10px;
    border-radius: 6px;

}

.contextMenuButton{
    border: none;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
}

.habitNameContextMenu{
    margin-bottom: 10px;
}

#renameDiv{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

#renameButton{
    border: none;
    padding: 10px;
    border-radius: 6px;
}

#validMenu{
    height: 26px;
    padding: 5px 0px;
}